
{%
  set classes = [
    paragraph.field_extra_classes.value|render|trim,
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    'paragraph--id--' ~ paragraph.id.value,
  ]
%}


{# Set var to find the URL of Media Image #}

{% set image_url = file_url(content.field_background_image[0]['#media'].field_media_image.entity.uri.value) %}
{% set row_classes = paragraph.field_row_extra_classes.value|render|trim %}


{# Prints div with classes, and content without Width and Background. #}

{% block paragraph %}
  <section{{ attributes.addClass(classes) }}

  {# Conditionals for add background - field values #}

  {% if image_url != '/gomamaschine/web/' and paragraph.field_background_gradient.value|render|trim %}
    style="background-size:cover; background-image: {{ paragraph.field_background_gradient.value|render|trim }}, 
    url({{ image_url }}); background-blend-mode: {{ paragraph.field_background_blend_mode.value|render|trim }}"
  {% elseif paragraph.field_background_gradient.value|render|trim %}
    style="background-image: {{ paragraph.field_background_gradient.value|render|trim }}"  
  {% elseif paragraph.field_background_solid_color.value|render|trim %}
    style="background-color: {{ paragraph.field_background_solid_color.value|render|trim }}; 
    background-size:cover; background-image: url({{ image_url }}); 
    background-blend-mode: {{ paragraph.field_background_blend_mode.value|render|trim }}"
  {% elseif image_url != '/gomamaschine/web/' %}
    style="background-size:cover; background-image: url({{ image_url }})"
   {% else %}	
  {% endif %}
  >
    {% if paragraph.field_container.value|render|trim %}<div class="container">{% endif %} 
      {% block content %}
      {{ content.field_text_header }}
       {# Find the content column 2nd - level paragraph #}
        {% set cols = content.field_add_columns %}
        {# Loop on all Items and print classes and content #}
         <div class="row {{ row_classes }}">
          {% for key, item in cols['#items'] %}
                  {{ cols[key] }}
          {% endfor %}
         </div>
        {# {{ content|without('field_extra_classes','field_background_gradient','field_background_solid_color', 'field_background_image', 'field_background_blend_mode', 'field_container' ) }} #}
      {% endblock %}
    {% if paragraph.field_container.value|render|trim %}</div>{% endif %} 

  </section>
{% endblock paragraph %}
