{#
/**
 * @file
 * Template for the main page.
 */
#}

<div class="page">
  {% embed '@radix/navbar/navbar.twig' with {
    placement: 'sticky-top',
    container: 'fixed',
  } %}

    {% block branding %}
      {% if page.navbar_branding %}
        {{ page.navbar_branding }}
      {% endif %}
    {% endblock %}

    {% block left %}
      {% if page.navbar_left %}
        <div class="mr-auto">
          {{ page.navbar_left }}
        </div>
      {% endif %}
    {% endblock %}

    {% block right %}
      {% if page.navbar_right %}
        {{ page.navbar_right }}
        <div class="marcacoesnav">
        <a href="/marcacao-de-consulta" title="Marque a sua consulta!" >
         <img class="" src="/themes/custom/gmlifetheme/img/svg/call_to_us.svg" alt="Marcações online">
        </a>
        </div>
      {% endif %}
    {% endblock %}
  {% endembed %}

  <main class="main-content">
    {% if page.header %}
      <header class="page__header">

          {{ page.header }}

      </header>
    {% endif %}

    {% if page.content %}
      <div class="page__content">

          {{ page.content }}

      </div>
    {% endif %}
  </main>

  {% if page.footer %}
    <footer class="page__footer">
      <div class="container">
        <div class="d-flex justify-content-md-between align-items-md-center">
          {{ page.footer }}
        </div>
      </div>
    </footer>
  {% endif %}
</div>
